@import './theme.less';

.fixed-header {
  display: flex;
  background: @info-color;
  box-sizing: border-box;
  padding: 5px;
  color: #fff;
  .wifi {
      stroke-width: 3;
      stroke: #fff;
  }
}